<html>
<head>
	<title>添加</title>
</head>
<body>
	<div>
		<form action="" name="addForm" method="post">
			<table>
			<tr>
				<td>菜名：</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>价格：(元)</td>
				<td><input type="text" name="price"/></td>
			</tr>
			<tr>
				<td>状态：</td>
				<td><input type="radio" name="status" value="0"/>不可用
				<input type="radio" name="status" value="1"/>可用</td>
			</tr>
			
			<tr>
			<td><input type="submit" value="提交"/></td>
			</tr>
		</table>
		</form>
		<a href="index">返回列表</a>
	</div>

</body>
</html>