<extend name="Common/base"/>
<block name="body">
    <div class="container">
        <form class="col-md-4 col-md-offset-4" action="__SELF__" method="post">
            <div class="form-group">
                <label>桌子号：</label>
                <input type="text" name="table_id" class="form-control"/>
            </div>
            <div class="form-group">
                <label>备注：</label>
                <input type="text" name="mark" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-block btn-success"/>
            </div>
        </form>
        <a href="{:U('Desk/index')}">返回列表</a>
    </div>
</block>