<extend name="Common/base"/>
<block name="body">
    <style>
        .widget-title {
            height: 60px;
        }
    </style>
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>服务员列表</h5>
                <a class="label label-info" href="{:U('Adminer/add')}">添加服务员</a>
            </div>
            <div class="widget-content ">
                <table class="table table-bordered table-striped with-check">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>终端用户名</th>
                        <th>终端密码</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <empty name="_data">
                        <tr>
                            <td colspan="10">
                                <label class="text text-error text-center">对不起没有数据</label>
                            </td>
                        </tr>
                    </empty>
                    <volist name="_data" id="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.password}</td>
                            <td>{$vo.user_name}</td>
                            <td>{$vo.user_phone}</td>
                            <td>{$vo.status}</td>
                            <td>
                                <a class="btn btn-sm" href="{:u('Adminer/del',array('id'=>$vo['id']))}">删除</a>
                                <a class="btn btn-sm" href="{:u('Adminer/update',array('id'=>$vo['id']))}">修改</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <div class="pagelist">{$_page}</div>
            </div>
        </div>
    </div>
</block>